@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background: #FEF5EF;
    transition: 0.2s linear ;
}

body.dark-mode {
    background: #292c35;
  }


::selection {
    background: #6a0dad;
    color: #fff;
}

.toggleButton{
    left: 97%;
    position: absolute;
    top: 5%;
    transform: translate(-50%, -50%);
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
    left: 97%;
    position: absolute;
    top: 5%;
    transform: translate(-50%, -50%);
	background-color: #6a0dad;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	height: 26px;
	width: 50px;
}

.label .ball {
	background-color: #FEF5EF;
	border-radius: 50%;
	position: absolute;
	top: px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}

.vlmButton{
    left: 53%;
    position: absolute;
    top: 95%;
    transform: translate(-50%, -50%);
}

.hmeButton{
    left: 47%;
    position: absolute;
    top: 95%;
    transform: translate(-50%, -50%);
}

.toggleButton button,
.vlmButton button,
.hmeButton button{
    border: none;
    border-radius: 5px;
    background: #FEF5EF;
    color: #6a0dad;
    cursor: pointer;
    font-size: 25px;
    font-weight: 500;
    padding: 15px 30px;
    outline: none;
    transition: 0.2s linear ;
}

@media screen and (max-width: 1440px) {
    .toggleButton {
        left: 96%;
    }

    .vlmButton, .hmeButton{
        position: absolute !important;
        top: 94% !important;
    }
}

.toggleButton button.dark-mode,
.vlmButton button.dark-mode,
.hmeButton button.dark-mode{
    background: #292c35;
  }

.buttons button.restartButton,
.buttons button.quitButton{
    background: #6a0dad;
    color: #fff;
}

.buttons button.restartButton:hover{
    background: #6a0dad;
}

.buttons button.quitButton:hover{
    background: #6a0dad;
    color: #000;
}

.strtButton,
.infoBox,
.quizBox,
.resultsBox{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.infoBox.enabledInfo,
.quizBox.enabledQuiz,
.resultsBox.enabledResults{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    width: 950px;
    z-index: 5;
}

.strtButton button{
    border-radius: 5px;
    background: #6a0dad;
    border: none;
    border-color: #6a0dad;
    color: #FFFF;
    cursor: pointer;
    font-size: 25px;
    font-weight: 500;
    padding: 15px 30px;
    outline: none;
}

.infoBox{
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    width: 540px;
}

.infoBox .infoTitle{
    align-items: center;
    border-bottom: 1px solid lightgrey;
    border-radius: 5px 5px 0 0;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    height: 60px;
    padding: 0 30px;
    width: 100%;
}

.infoBox .infoList{
    padding: 15px 30px;
}

.infoBox .infoList .info{
    font-size: 17px;
    margin: 5px 0;
}

.infoBox .infoList .info span{
    color: #6a0dad;
    font-weight: 600;
}

.infoBox .buttons{
    align-items: center;
    border-top: 1px solid lightgrey;
    display: flex;
    height: 60px;
    justify-content: flex-end;
    padding: 0 30px;
}

.infoBox .buttons button{
    border-radius: 5px;
    border: none;
    border: 1px solid #6a0dad;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    margin: 0 5px;
    outline: none;
    transition: all 0.3s ease;
    width: 100px;
}

.quizBox{
    background: #fff;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    transition: all 0.3s ease;
    width: 550px;
}

.quizBox header{
    align-items: center;
    background: #fff;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 0 30px;
    position: relative;
    z-index: 2;
}

.quizBox header .title{
    font-size: 20px;
    font-weight: 600;
}

.quizBox header .timer{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.quizBox header .timer .time_left_text{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quizBox header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

.quizBox header .timer_line{
    background: #6a0dad;
    bottom: 0px;
    height: 3px;
    left: 0px;
    position: absolute;

}

section{
    background: #fff;
    padding: 25px 30px 20px 30px;
}

section .question{
    font-size: 25px;
    font-weight: 600;
}

section .option_list{
    display: block; 
    padding: 20px 0px;  
}

section .option_list .option{
    align-items: center;
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    font-size: 17px;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 8px 15px;
    transition: all 0.3s ease;
}

section .option_list .option:last-child{
    margin-bottom: 0px;
}

section .option_list .option:hover{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}

section .option_list .option.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

section .option_list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

section .option_list .option.disabled{
    pointer-events: none;
}

section .option_list .option .icon{
    border: 2px solid transparent;
    border-radius: 50%;
    font-size: 13px;
    height: 26px;
    line-height: 24px;
    pointer-events: none;
    text-align: center;
    transition: all 0.3s ease;
    width: 26px;
}

.option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

footer{
    align-items: center;
    border-top: 1px solid lightgrey;
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 0 30px;
}

footer .total_questions span{
    display: flex;
    user-select: none;
}

footer .total_questions span p{
    font-weight: 500;
    padding: 0 5px;
}

footer .total_questions span p:first-child{
    padding-left: 0px;
}

footer button{
    background: #6a0dad;
    border: none;
    border-radius: 5px;
    border: 1px solid #6a0dad;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    height: 40px;
    line-height: 10px;
    outline: none;
    opacity: 0;
    padding: 0 13px;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover{
    background: #8d10e6;
}

footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.resultsBox{
    align-items: center;
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    padding: 25px 30px;
    transform: translate(-50%, -50%) scale(0.9);
    transition: all 0.3s ease;
    width: 450px;
}

.resultsBox .icon{
    color: #6a0dad;
    font-size: 100px;
    margin-bottom: 10px;
}

.resultsBox .completion_text{
    font-size: 25px;
    font-weight: 500;
}

.resultsBox .score_text span{
    display: flex;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
}

.resultsBox .score_text span p{
    font-weight: 600;
    padding: 0 4px;
}

.resultsBox, .ty_text{
    font-size: 10px;
    font-weight: 500;
}

.resultsBox .buttons{
    display: flex;
    margin: 20px 0;
}

.resultsBox .buttons button{
    border-radius: 5px;
    border: none;
    border: 1px solid #6a0dad;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    outline: none;
    transition: all 0.3s ease;
}